<div class="sidebar-module text-center">
    <img id="headshot" class="center-block img-responsive" src="<%- url_for('/images/bc-headshot-rec.png') %>" alt="Headshot of Brian Cerney">

    <ol class="list-unstyled">
        <div id="code"><li><i id="fa-code" class="fas fa-code"></i> <a href="https://nimbisservices.com/" target="_blank">DevOps Engineer, Nimbis</a></li></div>
        <div id="music"><li><i id="fa-music" class="fas fa-music"></i> <a href="http://bottleflies.com" target="_blank">Guitar/Vox, bottleflies</a></li></div>
        <div id="guitar"><li><i id="fa-guitar" class="fa fa-guitar"></i> <a href="https://guitarsnotgunsohio.org/" target="_blank">Lead Instructor, Guitars Not Guns Ohio</a></li></div>
    </ol>
</div>

<div class="sidebar-module text-center">
    <p>
        <a href="mailto:brianecerney@gmail.com"><i id="fa-envelope" class="fas fa-envelope icons-sidebar"></i></a>
        <a href="https://github.com/bcerney"><i id="fa-github" class="fab fa-github icons-sidebar"></i></a>
        <a href="https://www.linkedin.com/in/brian-cerney"><i id="fa-linkedin" class="fab fa-linkedin icons-sidebar"></i></a>
    </p>
</div>




<!-- TODO: decide on implementation or delete
<!--<div class="sidebar-module text-center">
   <ol class="list-unstyled">
        <li><i id="" class="fas fa-code icons-sidebar"></i><a id="test" href="<%- url_for('/Development') %>">Development</a></li>
        <li><i id="" class="fas fa-play icons-sidebar"></i><a href="<%- url_for('/Music') %>">Music</a></li>
        <li><i class="fas fa-chalkboard-teacher icons-sidebar"></i><a href="<%- url_for('/Education') %>">Education</a></li>
        <li><i class="fas fa-question icons-sidebar"></i><a href="<%- url_for('/About') %>">About</a></li>
    </ol>
</div> -->