<html>
<!-- Head tag -->
<%- partial('_partial/head') %>
<body>
    <!-- Menu -->
    <!-- <%- partial('_partial/menu') %> -->
    <div class="container-fluid">
        <!-- Blog Header: title and subtitle -->
        <!-- <%- partial('_partial/header') %> -->
        <div class="row">
            <!-- Sidebar -->
            <div id="sidebar-row" class="col-sm-3 col-sm-offset-1">
                <%- partial('_partial/sidebar') %>
            </div>
            <!-- Main Content -->
            <div id="main-row" class="col-sm-8">
                <%- body %>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <!-- <%- partial('_partial/footer') %> -->
    <!-- After footer scripts -->
    <%- partial('_partial/after-footer') %>
</body>
</html>
