<html>
<!-- Head tag -->
<%- partial('_partial/head') %>
<body>
    <!-- Menu -->
    <!-- <%- partial('_partial/menu') %> -->
    <div class="container-fluid">
        <div class="row">
            <!-- Blog Header: title and subtitle -->
            <%- partial('_partial/header') %>
        </div>
        <div class="row">
            <!-- Sidebar -->
            <div id="sidebar-row" class="col-sm-5">
                <%- partial('_partial/sidebar') %>
            </div>
            <!-- <div class="col-md-1 col-md-offset-3"></div> -->
            <!-- Main Content -->
            <div id="main-row" class="col-sm-6 offset-sm-5">
                <%- body %>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <!-- <%- partial('_partial/footer') %> -->
    <!-- After footer scripts -->
    <%- partial('_partial/after-footer') %>
</body>
</html>
